body {
  
}
.header {
  height: 200px; 
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 200;
  width: 100%;
  transition: all 0.5s;
}


.header-alt {
  background-color: rgba(0,0,0, 0.8);
  position: fixed;
  top: 200;
  width: 100%;
  transition: all 0.5s;
}


.wrapper {  
  height: 2000px;
  padding-top: 200px;
}

  
  